.header
  .header__left
    = link_to '/' do
      StationRarry

.user
  .user__left
    .user__left__title
      新規登録
    .user__left__link
      = link_to '/users/sign_in' do
        .user__left__link--font  
          ログイン
  .user__right
    .user__right__field
      = form_for(current_user) do |f|
          .field-label
            = f.label :name
          .field-input
            = f.text_field :name, autofocus: true
        .field
          .field-label
            = f.label :email
          .field-input
            = f.email_field :email
    = f.submit "登録する", class: 'user__right__actions'

.footer
