= javascript_include_tag 'image.js'
.main__images__picture
  %a{"data-lightbox" => "group", "data-title" => "#{favorite_image.text}", :href => "#{favorite_image.picture_url}"}
    = image_tag favorite_image.picture_url
  .main__images__picture__text
    %p
      = favorite_image.text
  .main__images__picture__date
    - date = EXIFR::JPEG.new(image.picture_url)
    = date.date_time_original.try(:strftime,"'%y %-m %-d %R")