.header
  = render partial: "maps/header"
.main
  - if flash[:flag]
    .notifications
      :javascript
        $(function(){
          Swal.fire({ 
          text: '写真を選択してください',
          icon: 'warning', 
          showCancelButton: false,
          background: 'white',
          confirmButtonColor: '#99CCFF',
          });
        });
  - elsif flash[:first_photo]
    .omedetou
      = javascript_include_tag 'omedetou.js'
  .main__stationname
    お気に入り
  .main__images
    = render partial: 'image', collection: @favorite_images, as: :favorite_image
.postform
  = render partial: "form"
= javascript_include_tag 'lightbox.min'