= javascript_include_tag 'index.js'
= javascript_include_tag 'memorial.js'
= javascript_include_tag 'memorial_post.js' 
.header
  = render partial: "header"

#map

%script{:charset => "utf-8", :src => "https://map.yahooapis.jp/js/V1/jsapi?appid=\n#{ENV["YAHOO_API_KEY"]}", :type => "text/javascript"}

.info
  .info__count
    .info__count__key
      残り
    .info__count__value
      = @rest_station
    .info__count__label
      駅 
  .info__point
    .info__point__key
      ポイント
    .fukidashi
      写真を投稿してポイントをゲットしよう！
      %br
        レアな駅ほどポイントが高いよ！
    .info__point__value
      = "#{current_user.points}"
  .info__rank
    .info__rank__key
      ランキング
    .info__rank__value
      = @ranking
    .info__rank__label
      位
.mapfooter
  = render partial: "credit"