= include_gon
= javascript_include_tag 'index.js'
.header
  = render partial: "header"

#map

%script{:charset => "utf-8", :src => "https://map.yahooapis.jp/js/V1/jsapi?appid=\n#{Rails.application.secrets.yahoo_api_key}", :type => "text/javascript"}

.info
  .info__point
    .info__point__key
      ポイント
    .info__point__value
      = "#{current_user.points}"
  .info__count
    .info__count__key
      残り
    .info__count__value
      25
    .info__count__label
      駅

.mapfooter
  = render partial: "credit"