= include_gon
= javascript_include_tag 'index.js'
.header
  = render partial: "header"

#map

%script{:charset => "utf-8", :src => "https://map.yahooapis.jp/js/V1/jsapi?appid=\n#{Rails.application.secrets.yahoo_api_key}", :type => "text/javascript"}

.mapfooter
  = render partial: "credit"