.header
  = render partial: "maps/devise-header"

.user
  .user__img 
    = image_tag "/assets/tokyo.jpg"

  .user__left
  
  .user__right
    .user__right__title
      ログイン
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .user__right__field
        .user__right__field--label
          = f.label :'E-mail'
          %br/
        .user__right__field--input
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .user__right__field--label
          = f.label :パスワード
          %br/
        .user__right__field--input
          = f.password_field :password, autocomplete: "resourcespassword"
        = f.submit "ログインする", class: 'user__right__actions'
      .user__right__checkbox
        = f.check_box :remember_me
        = f.label :パスワードを記憶させる
    .user__right__newlink
      = link_to '/users/sign_up' do
        .user__right__newlink--font
          新規登録
    -# パスワード変更機能へのリンクを保留
    -# .user__right__link
    -#   = link_to '/users/password/new' do
    -#     .user__right__link--font 
    -#       パスワードを忘れた
    .user__right__mainlink
      = link_to '/' do
        .user__right__mainlink--font
          メイン画面
    .user__right__error
      = render "devise/shared/error_messages", resource: resource