.header
  = render partial: "maps/devise-header"

.user

  .user__space
    = render partial: "maps/side-image"

  .user__left
    .user__left__title
      ログイン
    .user__left__link
      = link_to '/users/sign_up' do
        .user__left__link--font  
          新規登録
    .user__left__link
      = link_to '/users/password/new' do
        .user__left__link--font 
          パスワードを忘れた
  
  .user__right
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .user__right__field
        .user__right__field--label
          = f.label :'E-mail'
          %br/
        .user__right__field--input
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .user__right__field--label
          = f.label :パスワード
          %br/
        .user__right__field--input
          = f.password_field :password, autocomplete: "resourcespassword"
        = f.submit "ログインする", class: 'user__right__actions'
      .user__right__checkbox
        = f.check_box :remember_me
        = f.label :パスワードを記憶させる

.footer 