= javascript_include_tag 'choice.js'
.postform__commentform
= form_for [@station, @image] do |f|
  .postform__commentform__input
    .postform__commentform__input__picture
      %label
        = f.file_field :picture, class: 'postform__commentform__input__picture__btn'
        .postform__commentform__input__picture__erea
          写真を選ぶ    
    = f.text_field :text, maxlength: '20', style: "border:none", class: 'postform__commentform__input__text', placeholder: "コメントを入力（20文字以内）"
    .postform__commentform__choice
      -# .postform__commentform__choice__text
      -#   選択中の写真
      .postform__commentform__choice__picture
        %img#choice-picture   
    = f.submit "投稿", style: "border:none", class: 'postform__commentform__submit' 