.footer__commentform
= form_for [@station, @image] do |f|
  .footer__commentform__input
    = f.text_field :text, class:"footer__commentform__input", placeholder: "コメントする"
    %label.label
      =f.label :image do
        = fa_icon 'image'
        = f.file_field :picture
  .footer__commentform__submit
    = f.submit "SEND"