= javascript_include_tag 'image.js'
.main__images__picture
  %a{"data-lightbox" => "group", "data-title" => "#{image.text}", :href => "#{image.picture_url}"}
    = image_tag image.picture_url
  - if user_signed_in? && current_user.id == image.user_id
    .main__images__picture__delete
      = button_to "/stations/station_id/images/#{image.id}", method: :delete, style: "border:none" do
        .main__images__picture__delete--font
          ×
  .main__images__picture__text
    = image.text
  .main__images__picture__date
    - date = EXIFR::JPEG.new(image.picture.current_path)
    = date.date_time_original.try(:strftime,"'%y %-m %-d %R")