.header
  = render partial: "maps/header"
.main
  
  - if flash[:no_photo_flag]
    .notifications
      :javascript
        $(function(){
          Swal.fire({ 
          html: '写真を選択してください<br>( .jpg/.jpeg 5MB以下)',
          icon: 'warning', 
          showCancelButton: false,
          background: 'white',
          confirmButtonColor: '#99CCFF',
          });
        });
  - elsif flash[:first_photo]
    .omedetou
      = javascript_include_tag 'omedetou.js'
  .main__stationname
    = @station.name + "駅"
  .main__images
    = render partial: 'image', collection: @images, as: :image, locals: { station_id: @station_id }
.postform
  = render partial: "form"
= javascript_include_tag 'lightbox.min'


