.header
  = render partial: "maps/header"
.main
  - if flash[:flag]
    .notifications
      :javascript
        $(function(){
          Swal.fire({
          text: '写真を選択してください',
          icon: 'warning', 
          showCancelButton: false,
          background: 'white',
          confirmButtonColor: '#99CCFF',
          });
        });
  .main__stationname
    = @station.name + "駅"
  .main__images
    = render @images
.postform
  = render partial: "form"
= javascript_include_tag 'lightbox.min'